@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", "sans";
  --font-display: "Crete Round", "serif";
  --font-serif: "DM Serif Display", "serif";
}

@utility text-clamp {
  font-size: clamp(3rem, 0.8571rem + 10.7143vw, 6rem);
}

@utility text-clamp-sm {
  @apply leading-10;
  font-size: clamp(1rem, 0.6429rem + 1.7857vw, 1.5rem);
}

@utility text-shadow {
  -webkit-text-stroke-width: 0.125rem;
  -moz-text-stroke-width: 0.125rem;
  -webkit-text-stroke-color: var(--color-gray-800);
  -moz-text-stroke-color: var(--color-gray-800);
  text-shadow: 6px 6px var(--color-cyan-300);
}

@utility wrapper {
  @apply max-w-3xl mx-auto
}

.animate-line {
  --line-width: 0.188rem;

  &::before {
    background-color: var(--color-gray-800);
    content: '';
    display: block;
    height: var(--line-width);
    left: 0;
    position: absolute;
    top: 100%;
    transform: translateY(calc(100% - var(--line-width)));
    transition: width 500ms ease-in-out;
    width: 0;
  }

  &:is(:focus, :hover)::before {
    width: 100%;
  } 
}

p {  
  & + & { @apply mt-5; }
}