@import "tailwindcss";

@theme {
  --body-color: var(--color-white);
  --body-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --font-sans: "DM Sans", "sans";
  --font-display: "Crete Round", "serif";
  --font-serif: "DM Serif Display", "serif";
  --interactive-color: var(--color-gray-800);
  --interactive-hover-color: var(--color-indigo-400);
  --text-shadow-stroke: var(--color-gray-800);
  --text-shadow-fill: var(--color-cyan-300);
}
@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --body-color: var(--color-slate-800);
  --body-image: linear-gradient(160deg, var(--color-slate-800) 0%, var(--color-slate-700) 100%);
  --interactive-color: var(--color-cyan-300);
  --interactive-hover-color: var(--color-indigo-300);
  --text-shadow-stroke: var(--color-gray-100);
  --text-shadow-fill: var(--color-cyan-500);
}

@utility text-clamp {
  font-size: clamp(3rem, 0.8571rem + 10.7143vw, 6rem);
}

@utility text-clamp-sm {
  @apply leading-10;
  font-size: clamp(1rem, 0.6429rem + 1.7857vw, 1.5rem);
}

@utility text-shadow {
  -webkit-text-stroke-width: 0.125rem;
  -moz-text-stroke-width: 0.125rem;
  -webkit-text-stroke-color: var(--text-shadow-stroke);
  -moz-text-stroke-color: var(--text-shadow-stroke);
  text-shadow: 5px 5px var(--text-shadow-fill);
}

@utility wrapper {
  @apply max-w-3xl mx-auto
}

html,
body {
  height: 100vh;
}

body {
  background-color: var(--body-color);
  background-image: var(--body-image);
}

.animate-line {
  --line-width: 0.188rem;

  &::before {
    background-color: var(--interactive-hover-color);
    content: '';
    display: block;
    height: var(--line-width);
    left: 0;
    position: absolute;
    top: 100%;
    transform: translateY(calc(100% - var(--line-width)));
    transition: width 500ms ease-in-out;
    width: 0;
  }

  &:is(:focus, :hover)::before {
    width: 100%;
  } 
}

p {  
  & + & { @apply mt-5; }
}